
	.header{
		width:1200px;	
	}
	.header img{
		width:1200px;
		height:500px;
		margin-left:10px;
		margin-top: -10px;
		}

	.border-tab{
		border-bottom:8px solid black;
		width:1200px;
		margin-left:10px;
		margin-top:50px;
		}

	.header-left img{
		width:280px;
		height:300px;
		margin-top:20px;
		margin-left:80px;
		}

	.header-right img{
		float:right;
		margin-top:-295px;
		margin-right:80px;
		}

	.header-font{
		font-size:30px;
		font-style:italic;
		font-weight:bolder;
		color:orange;
		margin:-270px 0px 0px 400px;
		}
	
	.header-list{
		width:600px;
		font-size:20px;
		font-weight:bold;
		margin:20px 0px 0px 380px;
		}
	

	
	.border-list{
		border-bottom:8px solid black;
		font-size:30px;
		font-style:italic;
		font-weight:bolder;
		width:1200px;
		margin-top:120px;
		margin-left:10px;
		color:orange;
		
		}
	
	.wrapper{
		width:1200px;
		height:650px;
		margin-left:10px;
		background:white;
		margin-top:20px;
		}
	
	.wrapper ul li{
		display:inline-block;
		list-style:none;
		
		}
	
	.wrapper ul li img{
		padding-left:50px;
		width:300px;
		height:300px;
		}
	
	
	.wrapper-nav ul li{
		display:inline-block;
		list-style:none;
		margin-top:-340px;
		}
	
	.wrapper-nav ul li img{
		padding-left:55px;
		width:300px;
		height:300px;
		}
	
	.font ul li{
		color:white;
		display:inline-block;
		list-style:none;
		padding-left:270px;
		margin:-600px 0px 0px -60px;
		}
	
	.font-nav ul li{
		color:white;
		display:inline-block;
		list-style:none;
		padding-left:270px;
		margin:-270px 0px 0px -60px;
		}
	
	.list{
		border-bottom:8px solid black;
		width:1200px;
		margin-left:10px;
		font-size:30px;
		font-style:italic;
		font-weight:bolder;
		color:orange;
		position:relative;
		top:-60px;
		}
	
	.title{
		width:1200px;
		font-size:20px;
		font-weight:bold;
		margin-top:-10px;
		}
	
	.title-nav{
		width:1200px;
		font-size:30px;
		font-weight:bolder;
		margin-top:10px;
		color:red;
		margin-left:50px;
		}
	
	.tips img{
		width:400px;
		height:250px;
		margin:-200px 0px 0px 720px;
		}
	

	



