.mg0{margin:0 auto;}
.fl{float:left;}
.flr{float:right;}
.clearfloat{zoom:1;}
.clearfloat:after{
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
	line-height:0;
}
.mgl-10{margin-left:10px;}
.mgl-30{margin-left:30px;}
.mgl-50{margin-left:50px;}
.mgl--50{margin-left:-50px;}
.mgl-100{margin-left:100px;}
.mgl-170{margin-left:170px;}
.mgl-190{margin-left:190px;}
.mgl-320{margin-left:320px;}
.mgl-470{margin-left:470px;}
.mgr-170{margin-right:170px;}
.mgt-10{margin-top:10px;}
.mgt-30{margin-top:30px;}
.mgt-50{margin-top:50px;}
.mgt-150{margin-top:150px;}
.mgt--10{margin-top:-10px;}
.mgt--50{margin-top:-50px;}
.mgt--150{margin-top:-150px;}
.pdl-130{padding-left:130px;}
.pdl-255{padding-left:255px;}
.pdl-275{padding-left:275px;}
.pdt-20{padding-top:20px;}
.pdt-50{padding-top:50px;}
.pdt-80{padding-top:80px;}
.nav{
	width:1200px;
	height:60px;
}
.logo{
	width:115px;
	height:60px;
	background:url(../images/logo.png);
	margin-left:50px;
}
.nav ul li{
	display:inline-block;
	margin-left:40px;
	font:20px "微软雅黑";
	line-height:60px;
}
.nav ul li a{
	color:black;
}
.nav ul li a:hover{
	color:red;
	background-color:#fdf3e9;
}
.footer{
		width:1200px;	
		height:350px;
		background:gray;
}	
.footer-font{
		color:white;
		font-size:30px;
		text-align:center;
}
.content{
		color:white;
		font-size:22px;
		font-weight:bolder;
		margin:25px 0px 0px 100px;
}
	
.people{
		margin-top:30px;
		margin-left:100px;
		font:16px "微软雅黑";
		color:white;
		line-height:25px;
}
.border{
		border-bottom:2px solid white;
		width:150px;
		margin-left:100px;
		}
	
.tab{
		margin-left:100px;
		font:16px "微软雅黑";
		color:white;
		line-height:25px;
}
.border-nav{
		border-bottom:2px solid white;
		width:150px;
		margin-left:100px;
}
.msg{
		margin-left:100px;
		font:16px "微软雅黑";
		color:white;
		line-height:25px;
}
.service{
		color:white;
		font-size:22px;
		font-weight:bolder;
		margin:-215px 0px 0px 450px;
}
.service-search{
		font:18px "微软雅黑";
		color:white;
		margin:33px 0px 0px 450px;
}
.service-form{
		font:18px "微软雅黑";
		color:white;
		margin:20px 0px 0px 450px;
}
.service-label input{
		margin:20px 0px 0px 450px;
		width:200px;
		height:25px;
}
.service-button input{
		margin:10px 0px 0px 450px;
		width:200px;
		height:25px;
}
.banner-label button{
		width:60px;
		height:25px;
		background-color:white;
		margin:10px 0px 0px 592px;
		text-align:center;
		border:1px solid white;
}
.download{
		color:white;
		font-size:22px;
		font-weight:bolder;
		margin:-247px 0px 0px 880px;
}
	
.download-list{
		font:18px "微软雅黑";
		color:white;
		margin:20px 0px 0px 880px;
}
.download-bottom{
		font:16px "微软雅黑";
		color:white;
		margin:40px 0px 0px 880px;
}
