body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"ו","Arial Narrow",HELVETICA;background:#fff;}
ul{list-style-type:none;}
a{text-decoration:none;}
a:hover{color:red;}