.container{
	width:1200px;
	margin:0 auto;
}

.barnav{
	height:50px;
	background:#e7f3f4;
	font-size:30px;
	text-indent:3em;
	line-height:50px;
	color:#b1753f;
}
.main{
	height:500px;
}
.main  .left{
	width:220px;
	float:left;
	background:red;
}
.main  .center{
	height:500px;
	float:left;
	margin-right:-720px;
}
.main .center   p{	
    font-size:18px;
}
.main .center ul li{
	display:inline-block;
	text-align:center;
	font-size:15px;
}
.main  .right{
	width:320px;
	float:right;
}
.main  .right dt{
	margin-top:10px;
}
.barnav-x{
	height:50px;
	background:#ffad7e;
	font-size:30px;
	text-indent:3em;
	line-height:50px;
	color:#b1753f;
}
.content1{
	height:400px;
	clear:left;
	border:2px solid #ffad7e;
}
.content1   .text{
	margin-left:40px;
	font-size:30px;
	line-height:80px;
}
.content1   p{
	margin-left:-15px;
	font-size:18px;
	text-indent:2em;
	line-height:20px;
}
.content1  img{
	position:relative;
	top:-100px;
	left:1020px;
}
.content1   .text-x{
	
	margin:-150px 0 0 40px;
	font-size:30px;
	line-height:80px;
}
